@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px; 
}
::-webkit-scrollbar-track {
  background: #000000; 
}
::-webkit-scrollbar-thumb {
  background: #6506d8; 
  border-radius: 6px; 
}

*{
  @apply bg-indigo-950 text-zinc-50 text-lg
}

.fullflex{
  @apply flex justify-center items-center
}
.active{
  @apply text-blue-600 duration-300 ease-in-out
}
.custom-shadow {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5); /* Customize the shadow size and color */
}