@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px; 
}
::-webkit-scrollbar-track {
  background: #000000; 
}
::-webkit-scrollbar-thumb {
  background: #6506d8; 
  border-radius: 6px; 
}

*{
  @apply bg-indigo-950 text-zinc-50 text-lg
}

.fullflex{
  @apply flex justify-center items-center
}
.active{
  @apply text-blue-600 duration-300 ease-in-out
}
.custom-shadow {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Customize the shadow size and color */
}
.bg-image-github-home {
  background-image: url('../img/GitHub-headpic.jpg'); /* Replace with the actual path to your image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-image-leetcode-home {
  background-image: url('../img/1_Lur9rrJITsFRnuIYURYkSg.png'); /* Replace with the actual path to your image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}